* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100%-48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.section-heading {
    text-align: center;
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 16px;
    line-height: 1.88;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.header-action__link:hover {
    text-decoration: underline;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;

    min-width: 117px;
    transition: background-color 0.5s;
}

.header-action__btn:hover {
    background-color: #000958;
    color: #fff;
    border: 1px solid rgba(0, 9, 88, 0.7);
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__img-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    top: 16px;
    right: 110px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #faa7ad;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item__thumbs {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 999px;
    margin: 20px 0;
}

.hero-list-item:nth-child(3) .hero-list-item__thumbs {
    background: #c6e2fa;
}

.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87;
}

.hero__row {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__cta-link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
    align-items: center;
}

.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__check-list {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: var(--primary-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: url(../icon/Check.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43;
}

.about__decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    height: 336px;
    z-index: -1;
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about-media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-img:nth-child(6) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 999px;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 11px;
    cursor: pointer;
}

.tab-icon {
    width: 20px;
}

.tab__title {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab-contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    margin-bottom: 32px;
    width: 391px;
}

.tab__content-more {
    position: relative;
    color: #ff5d31;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}

.tab__content-more::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 999px;
}

/* Service */
.service {
    margin-top: 190px;
    background: #fff6ed;
    padding: 68px 0 100px 0;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 15px;
}

.service__body {
    column-gap: 70px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.service__column {
    display: grid;
    gap: 24px;
}

.service-item {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px;
}

.service-item__heading {
    position: relative;
    left: 12px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::after {
    position: absolute;
    left: -12px;
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 999px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    color: #34396a;
    font-family: Sora;
    font-size: 12px;
    line-height: 1;
    margin-top: 24px;
    transition: color 0.1s;
}

.service-item__more:hover {
    color: var(--primary-color);
}

.service-item__more::after {
    margin: 2px 0 0 5px;
    content: url(../icon/ArrowUpRight.svg);
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    content: "";
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta {
    min-width: 214px;
    border-radius: 31px;
    border: 1px solid var(--primary-color);
    opacity: 0.6;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    transition: 0.35s;
}

.service__cta:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__desc {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 62px;
    margin-top: 15px;
}

.staff__list {
    margin-top: 45px;
    display: grid;
    column-gap: 35px;
    grid-template-columns: repeat(4, 1fr);
}

.staff-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: 130px;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
    /* overflow: hidden; */
}

.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    bottom: 0;
    left: 0;
}

.staff-item__img-wrap::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    content: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    content: url(../img/staff-decor-02.svg);
    bottom: auto;
    top: 16px;
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    content: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    content: url(../img/staff-decor-04.svg);
    bottom: auto;
    top: 16px;
}

.staff-item__title {
    margin-top: 34px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    display: inline-block;
    height: 56px;
    width: 193px;
    border-radius: 31px;
    border: 1px solid var(--primary-color);
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: var(--primary-color);
    transition: 0.35s;
}

.staff__cta:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 999px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    user-select: none;
    cursor: pointer;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.pricing__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background: #ff5b2e;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    right: 0;
    width: 131px;
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}

.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    margin-top: 24px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1;
}

.pricing-item__btn {
    width: 100%;
    height: 44px;
    margin-top: 22px;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: var(--primary-color);
    background-color: transparent;
    transition: 0.35s;
}

.pricing-item__btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1;
}

.pricing-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__item::before {
    margin-right: 14px;
    content: url(../icon/price-chech.svg);
}

.pricing__container {
    width: 994px;
}

/* Reviews */
.reviews {
    padding: 53px 0;
}

.reviews__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.reviews__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    background-color: transparent;
    color: var(--primary-color);
    transition: 0.2s;
}

.reviews__control:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    border-color: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.reviews-item {
    display: flex;
    align-items: center;
    column-gap: 151px;
}

.reviews-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
    margin-top: -52px;
}

.reviews-item__media::after {
    content: "";
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 82%;
    background: #ffda54;
    border-radius: inherit;
}

.reviews-item__img {
    width: 100%;
    border-radius: inherit;
    position: relative;
    z-index: 1;
    display: block;
}

.reviews-item__heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.reviews-item__quote {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
    width: 553px;
}

.reviews-item__author {
    position: relative;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 28px;
}

.reviews-item__author::before {
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 999px;
}

.reviews__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.reviews__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #FF5B2E
}

.reviews__dot--active {
    width: 24px;
    background-color: #FF5B2E;
}

.reviews__dot:hover {
    background-color: #FF5B2E;
    cursor: pointer;
}
